/* Editorial conventions */

.unclear {
    background-color: #D8D8D8;
}

.i {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.superscript {
     vertical-align: super;
     font-size: .83em;
}

.subscript {
     vertical-align: sub;
     font-size: .83em;
}

.pencil {
    color: gray;
}

.red {
    color: red;
}

.blue {
    color: blue;
}