/* Editorial conventions */

.unclear {
    background-color: #D8D8D8;
}

.i {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.superscript {
     vertical-align: super;
     font-size: .83em;
}

.subscript {
     vertical-align: sub;
     font-size: .83em;
}

.pencil {
    color: gray;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.line {
    display: grid;
    grid-template-columns: 2em auto;
    column-gap: 0.5em;
}

.genre span {
    display: inline-block;
    width: 0.5em;
    height: 100%;
}

.conv.active {
    background-color: turquoise;
}

.verse.active {
    background-color: green;
} 

.prose.active {
    background-color: pink;
}
.read.active {
    background-color: orange;
}